.post_detail{
    display:flex;
    border:solid 3px;
    width:40em;
    margin:30px auto 30px auto;
    height:auto;
}

.post_detail>img{
display:inline-block;
width:30%;
height:250px;
object-fit:cover;
}

.content{
    display:inline-block;
    width:50%;
    height:250px;
    border:2px solid #000000;
    border-top:none;
    border-bottom: none;
}

.content>h2{
    display: flex;
	justify-content: center;
	align-items: center;
	font-size: 26px;
	text-align: center;
	border-top:6px double #000000;
	border-bottom:6px double #000000;
	border-right:5px double #000000;
	border-left:5px double #000000;
    margin: -2px auto auto auto;   
}

.content>h2::before,
.content>h2::after {
	content: '';
	width: 30px;
	height: 5px;
	background-color: #e3bf00;
}

.detail{
    display:inline-block;
    width:20%;
    height:250px;
}

.brandname_name{
    text-align: center;
    width:auto;
    height:35.5%;
}

.category_name{
    text-align: center;
    width:auto;
    height:35.5%;
    border:2px solid #000000;
    border-right:none;
    border-left:none;
}