.post_detail{
    background-color: white;
    justify-content: center;
    display:flex;
    width:auto;
    max-width:2400px;
    min-width:500px;
    margin:30px auto 30px auto;
    height:auto;
}

.post_detail>img{
border:2px solid #000000;
border-right: none;
display:inline-block;
max-width:200px;
max-height:300px;
min-width:10px;
width:auto;
object-fit:cover;
}

.content{
    display:inline-block;
    width:auto;
    min-width:200px;
    max-width:500px;
    height:auto;
    min-height:300px;
    border:2px solid #000000;
    border-top:none;
}

.content>h2{
    display: flex;
	justify-content: center;
	align-items: center;
	font-size: 26px;
	text-align: center;
	border-top:6px double #000000;
	border-bottom:6px double #000000;
	border-right:5px double #000000;
	border-left:5px double #000000;
    margin: -2px auto auto auto;   
}

.content>h2::before,
.content>h2::after {
	content: '';
	width: 30px;
	height: 5px;
	background-color: #e3bf00;
}

.detail{
    display:inline-block;
    max-width:200px;
    height:auto;
    border:2px solid #000000;
    border-left:none;
}

.brandname_name{
    text-align: center;
    width:auto;
}

.category_name{
    text-align: center;
    width:auto;
    border:2px solid #000000;
    border-right:none;
    border-left:none;
}

.btnedit{
    width: auto;
    height: auto;
    position: relative;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    background: transparent;
    border-radius: 25px;
    border: solid 2px #333;
    outline: none;
    transition: all 0.2s ease;;
}

.btnedit:hover{
  border-color:transparent; 
}

.btnedit span {
  position: relative;
  z-index: 2;
  display: block;
  padding: 10px 15px;
  background:#fff;
  border-radius: 25px;
  color:#333;
  transition: all 0.3s ease;
}

.pushdown:before {
    content:"";
    position: absolute;
    z-index: -1;
    top:4px;
    left:0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #333;
}

.pushdown:hover span {
  background-color: #333;
  color: #fff;
  transform: translateY(4px);
}

h3{
text-align: center;
margin:20px;
}
.all{
    display:flex;
    border:double 3px;
    width:500px;
    margin:30px auto 30px auto;
    height:auto;
    background-color: white;
}
.review_image{
    max-height:200px;
    max-width:100px;
    margin-right: 10px;
}
.expecting_image{
    display: block;
}
.review_rating{
    color:#FFCC00;
}
.review_title{
    font-weight:800;
    font-size:20px;
}
.review_created_at{
    text-align:right;
}
.evaluation{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .evaluation input[type='radio']{
    display: none;
  }
  .evaluation label{
    position: relative;
    padding: 10px 10px 0;
    color: gray;
    cursor: pointer;
    font-size: 30px;
  }
  .evaluation label .text{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 12px;
    color: black;
  }
  .evaluation label:hover,
  .evaluation label:hover ~ label,
  .evaluation input[type='radio']:checked ~ label{
    color: #FFCC00;
  }
  .guest_caution{
      text-align: center;
      color:#DD0000;
  }
  .guest_login{
  font-weight: bold;
  width:fit-content;
  display: flex;
  justify-content: center;
  border-radius : 5%;
  font-size: 18pt;
  cursor: pointer;
  padding: 12px 12px;
  background: #FFAD90;
  color: #000000;
  line-height: 1em;
  transition: .3s;
  box-shadow: 9px 9px #666666;
  border: 2px solid #000000;
  margin:0px auto 30px auto;
  }
  .guest_login:hover{
    text-align: center;
   box-shadow:none;       
  color: #000000;
  background: white;
}
.posts{
    border:double 5px;
    margin:30px auto 30px auto;
    background-color:#000000;
    color:white;
    padding-top: 20px;
}
.posts>h1{
    text-align: center;
    margin:20px;
}
.image{
    justify-content: center;
    font-size: 20px;
    text-align: center;
    display:flex;
    border-bottom: 2px solid #000000;
    padding:5px;
}
.image>input{
    width:auto;
    height:auto;
}
.title{
	justify-content: center;
	align-items: center;
	font-size: 20px;
	text-align: center;
	border-bottom: 2px solid #000000;
	display:flex;
	 padding:5px;
}
.title>input{
    width:500px;
    height:auto;
}
.body{
    justify-content: center;
	align-items: center;
	font-size: 20px;
	text-align: center;
	border-bottom: 2px solid #000000;
	padding:5px;
}
.body>textarea{
    justify-content: center;
    font-size: 20px;
    height:300px;
    width:95%;
}
.submission{
  display: flex;
  justify-content: center;
  border-radius : 5%;
  font-size: 18pt;
  cursor: pointer;
  padding: 12px 12px;
  background: #191970;
  color: #ffffff;
  line-height: 1em;
  transition: .3s;
  box-shadow: 9px 9px #666666;
  border: 2px solid #000000;
  margin:0px auto 30px auto;
}
.submission:hover{
    text-align: center;
   box-shadow:none;       
  color: #000000;
  background: #ffffff;
}