body {
    font-size:16pt;
    color:#000;margin: 5px;
    background-color: white;
}

h1 { 
    font-size:30pt;
    color:black; 
    text-align: center;
    background: linear-gradient(to right, rgb(255, 124, 111), #ffc994);
 
    }
.square {width:auto;
         height:10px;
         background-color:black;
         margin:0px 0px 50px;
    }
    
.search_box{
    text-align: center;
    margin:0px 0px 50px;
}
input,button {
    width:auto;
    height:50px
    }

.name_boxes{
    width: 240px;
    height: 400px;
    margin-right:auto;
    margin-left: auto;
}

p{text-align: center;

    
}

.Top_Value{
    
    font-size:40px;
    width:280px;
    height:80px;
    text-align: center;
    color:yellow;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
    background-color:purple;
    margin:5% 0;
    }

.Top_Value .Link{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

.Sselect{
    font-size:40px;
    width:280px;
    height:80px;
    text-align: center;
    color:white;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
    background-color:green;
    margin:5% 0;
    }
    
.Sselect.Link{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
    
.Coops{
    font-size:40px;
    width:280px;
    height:80px;
    text-align: center;
    color:white;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
    background-color:red;
    margin:5% 0;
    }
    
.Coops.Link{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
    
    

.category_boxes{
    width: 240px;
    height: 240px;
    margin-right:auto;
    margin-left: auto;
}

.foods{
    font-size:40px;
    width:280px;
    height:80px;
    text-align: center;
    color:black;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
    background-color:lightgreen;
    margin:5% 0;
    }
    
.foods.Link{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
    
.papers{
    font-size:40px;
    width:280px;
    height:80px;
    text-align: center;
    color:black;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
    background-color:gray;
    margin:5% 0;
    }
    
.papers.Link{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
    
.cleaners{
    font-size:40px;
    width:280px;
    height:80px;
    text-align: center;
    color:black;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
    background-color:lightblue;
    margin:5% 0;
    }
    
.cleaners.Link{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
    
.others{
    font-size:40px;
    width:280px;
    height:80px;
    text-align: center;
    color:black;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
    background-color:pink;
    margin:5% 0;
    }
    
.foods.Link{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }