.top>img{
    width:100%;
    margin-bottom: 20px;
}
.search_box{
    text-align: center;
    margin:0px 0px 50px;
}
input{
    width:auto;
    height:50px
    }
.create{
    text-align:center;
}
.create_new{
  position: relative;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  background: transparent;
  border-radius: 25px;
  border: solid 1px #333;
  outline:none;
  transition: all 0.2s ease;
  margin-bottom:50px;
}
.create_new:hover{
  border-color:transparent; 
}
.create_new span {
  position: relative;
  z-index: 2;
  display: block;
  padding: 10px 30px;
  background:#FF9872;
  border-radius: 25px;
  font-weight: bold;
  color:#333;
  transition: all 0.3s ease;
}
.pushright:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 4px;
    left: 4px;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #333;
}
.pushright:hover {
  background-color: #333;
  color: #fff;
  transform: translate(4px, 4px);
}
.name_boxes{
    margin:20px;
}
.name_boxes>p{
  font-weight: bold;
  padding: 1rem 2rem;
  border-left: 5px solid #000;
  background: #f4f4f4;
}
.Top_Value{
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border-radius: 25px;
    background: transparent;
    outline: none;
    font-weight: bold;
    transition: all 0.3s ease;
    margin:10px;
}
.Top_Value:hover{
  border-color:transparent; 
}
.Top_Value span {
  color:#FFFF99;
  font-size:40px;
  position: relative;
  z-index: 2;
  display: block;
  padding: 10px 30px;
  background:purple;
  border-radius: 25px;
  transition: all 0.3s ease;
}
.Sselect{
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border-radius: 25px;
    background: transparent;
    outline: none;
    font-weight: bold;
    transition: all 0.3s ease;
    margin:10px;
    }
.Sselect:hover{
  border-color:transparent; 
}
.Sselect span {
  color:white;
  font-size:40px;
  position: relative;
  z-index: 2;
  display: block;
  padding: 10px 30px;
  background:#00CC66;
  border-radius: 25px;
  transition: all 0.3s ease;
}
.Coops{
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border-radius: 25px;
    background: transparent;
    outline: none;
    font-weight: bold;
    transition: all 0.3s ease;
    margin:10px;
}
.Coops:hover{
  border-color:transparent; 
}
.Coops span {
  color:white;
  font-size:40px;
  position: relative;
  z-index: 2;
  display: block;
  padding: 10px 30px;
  background:#FF3366;
  border-radius: 25px;
  transition: all 0.3s ease;
}
.bothers{
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border-radius: 25px;
    background: transparent;
    outline: none;
    font-weight: bold;
    transition: all 0.3s ease;
    margin:10px;
}
.bothers:hover{
  border-color:transparent; 
}
.bothers span {
  color:#000000;
  font-size:40px;
  position: relative;
  z-index: 2;
  display: block;
  padding: 10px 30px;
  background:white;
  border-radius: 25px;
  transition: all 0.3s ease;
}
.category_boxes{
    margin:20px;
}
.category_boxes>p{
  font-weight: bold;
  padding: 1rem 2rem;
  border-left: 5px solid #000;
  background: #f4f4f4;
}
.foods{
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border-radius: 25px;
    background: transparent;
    outline: none;
    font-weight: bold;
    transition: all 0.3s ease;
    margin:10px;
    }
.foods:hover{
  border-color:transparent; 
}
.foods span {
  color:#005500;
  font-size:40px;
  position: relative;
  z-index: 2;
  display: block;
  padding: 10px 30px;
  background:#FFFFCC;
  border-radius: 25px;
  transition: all 0.3s ease;
}
.papers{
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border-radius: 25px;
    background: transparent;
    outline: none;
    font-weight: bold;
    transition: all 0.3s ease;
    margin:10px;
    }
.papers:hover{
  border-color:transparent; 
}
.papers span {
  color:#000000;
  font-size:40px;
  position: relative;
  z-index: 2;
  display: block;
  padding: 10px 30px;
  background:#CCCCCC;
  border-radius: 25px;
  transition: all 0.3s ease;
}
.cleaners{
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border-radius: 25px;
    background: transparent;
    outline: none;
    font-weight: bold;
    transition: all 0.3s ease;
    margin:10px;
    }
.cleaners:hover{
  border-color:transparent; 
}
.cleaners span {
  color:#000000;
  font-size:40px;
  position: relative;
  z-index: 2;
  display: block;
  padding: 10px 30px;
  background:#BBFFFF;
  border-radius: 25px;
  transition: all 0.3s ease;
}
.cothers{
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border-radius: 25px;
    background: transparent;
    outline: none;
    font-weight: bold;
    transition: all 0.3s ease;
    margin:10px;
    }
.cothers:hover{
  border-color:transparent; 
}
.cothers span {
  color:#000000;
  font-size:40px;
  position: relative;
  z-index: 2;
  display: block;
  padding: 10px 30px;
  background:white;
  border-radius: 25px;
  transition: all 0.3s ease;
}
    
