.title {
  display: flex;
  overflow: hidden;
  color: black;
  background: -moz-linear-gradient(left, #FFC778, #FFF);
  background: -webkit-linear-gradient(left, #FFC778, #FFF);
  background: linear-gradient(to right,#ffc994,#fff);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 5s;
}

.title span {
font-size:39px;
 display: block;
  transform: translate(100%, 0);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 2s;
}

.title.-visible,
.title.-visible span {
  transform: translate(0, 0);
}

.square {
    display: flex;
    height:10px;
    background-color:black;
    margin:0px auto 40px auto;
    }
    
.search_box{
    text-align: center;
    margin:0px 0px 50px;
}
input{
    width:auto;
    height:50px
    }
    
.create_new{
    color: #fff;
  background-color: #eb6100;
  border: 5px solid #b84c00;
  width:150px;
  height:50px;
  margin-right:auto;
  margin-left: auto;
  margin-bottom:50px;
}

.name_boxes{
    margin-right:auto;
    margin-left: auto;
}
.name_boxes>p{
  font-weight: bold;
  padding: 1rem 2rem;
  border-left: 5px solid #000;
  background: #f4f4f4;
}

.Top_Value{
    font-size:40px;
    text-align: center;
    color:yellow;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
    background-color:purple;
    background-size: 100% auto;
    margin:1% 10;
    display: inline-block;
    }
    
.Sselect{
    font-size:40px;
    text-align: center;
    color:white;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
    background-color:green;
    margin:1% 10;
    display: inline-block;
    }
    
.Coops{
    font-size:40px;
    text-align: center;
    color:white;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
    background-color:red;
    margin:1% 10;
    display: inline-block;
    }
.bothers{
    font-size:40px;
    text-align: center;
    color:black;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
    background-color:pink;
    margin:1% 10;
    display: inline-block;
    }
    
.category_boxes{
    margin-right:auto;
    margin-left: auto;
}
.category_boxes>p{
  font-weight: bold;
  padding: 1rem 2rem;
  border-left: 5px solid #000;
  background: #f4f4f4;
}
.foods{
    font-size:40px;
    text-align: center;
    color:black;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
    background-color:lightgreen;
    margin:1% 10;
    display: inline-block;
    }
    
.papers{
    font-size:40px;
    text-align: center;
    color:black;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
    background-color:gray;
    margin:1% 10;
    display: inline-block;
    }
    
.cleaners{
    font-size:40px;
    text-align: center;
    color:black;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
    background-color:lightblue;
    margin:1% 10;
    display: inline-block;
    }
    

.cothers{
    font-size:40px;
    text-align: center;
    color:black;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
    background-color:pink;
    margin:1% 10;
    display: inline-block;
    }
    
